* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  padding: 3px;
}

p {
  margin: 0;
  padding: 0;
}

.search-box {
  position: relative;
}

.search-result__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.search-result__list--item {
  margin: 0;
  padding: 15px;
  /* border: 2px dotted red; */
  display: flex;
}

.search-result__list--item:hover {
  background-color: grey;
  cursor: pointer;
}

.search-result__list--item-detail {
  margin: 0 15px;
  padding: 0;
}

.search-box input {
  width: 500px;
  height: 25px;
}

.search-result {
  position: absolute;
  top: 35px;
  width: 500px;
  /* border: 1px solid red; */
  background-color: lightgrey;
  height: 450px;
  overflow-y: auto;
}

.bg-dark {
  background-color: rgb(53, 52, 52);
}

.text-light {
  color: whitesmoke;
}

nav {
  background-color: teal;
  padding: 12px;
}

.d-flex {
  display: flex !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.align-items-center {
  align-items: center !important;
}

.btn {
  padding: 7px;
  margin: 0 7px;
  border: 0;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2);
  /* transition: all 0.4s; */
}

.btn:hover {
  transform: translateY(1px);
  /* transition: all 0.4s; */
}

.btn-primary {
  background-color: tomato;
}

.btn-primary:hover {
  background-color: rgb(240, 93, 68);
}

.btn-secondary {
  background-color: rgb(240, 238, 240);
}

.btn-secondary:hover {
  background-color: whitesmoke;
}

.btn-tertiary {
  background-color: rgb(37, 34, 34);
}

.dropdown {
  position: absolute;
  top: 15px;
  list-style: none;
}
